<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Dashboard</title>
    <%- include('../includes/head') %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__shake"
          src="dist/img/AdminLTELogo.png"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div>

      <!-- nav bar and slide bar -->
      <%- include('../includes/header') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Home</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title"> Home Component</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form  action="/admin/home-create" method="POST">
                    <div class="card-body">

                      <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <!-- <input type="text" class="form-control"name="title"placeholder="Enter title"value="%= title %>"/> -->
                        <input type="text" class="form-control" id="title" name="title"placeholder="Enter title" value="<%= typeof title != 'undefined' ? title : '' %>" >

                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">header</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="header"
                          id="header"
                          name="header"
                          value="<%= typeof header != 'undefined' ? header : '' %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea class="form-control" id="desc" name="desc"
                         rows="3" placeholder="Enter Description"><%= typeof logo != 'undefined' ? logo : '' %></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Logo</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Logo"
                          id="logo"
                          name="logo"
                          value="<%= typeof logo != 'undefined' ? logo : '' %>"


                        />
                      </div>

                      <!-- <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input
                              type="file"
                              class="custom-file-input"
                              id="exampleInputFile"
                            />
                            <label
                              class="custom-file-label"
                              for="exampleInputFile"
                              >Choose file</label
                            >
                          </div>
                          <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                          </div>
                        </div>
                      </div> -->

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </form>

                </div>
                <!-- /.card -->

                <!-- /.card -->
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Bordered Table</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width: 10%">#</th>
                          <th style="width: 60%">List</th>
                          <!-- <th>Progress</th> -->
                          <th style="width: 30%">Label</th>
                        </tr>
                      </thead>
                      <tbody>

                          <% if(data.length){
                          for(var i = 0; i< data.length; i++) {%>
                         <tr>
                           <td><%= i + 1 %></td>
                           <td><%= data[i].title %> </td>

                           <td>
                              <span class="badge bg-success">
                                <a href="home-edit/<%= data[i]._id %>">
                                  Edit
                                </a>


                              </span>
                              <span class="badge bg-danger">
                                <a href="home-delete/<%= data[i]._id %>">
                                  Delete
                                </a>
                              </span>
                            </td>
                         </tr>
                         <% }
                          }else{ %>
                          <tr>
                          <td class="center" colspan="3">No Data</td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
              <!--/.col (left) -->
            </div>
          </div>
        </section>
      </div>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <%- include('../includes/footer') %> <%- include('../includes/script') %>
  </body>
</html>
